[workspace]
members = [
  "benchmark/linear_memory_function",
  "benchmark/runtime_function",
  "benchmark/size_function",
  "benchmark/stack_memory_function",
]

[package]
name = "function-runner"
version = "3.1.0"
edition = "2021"

[profile.benchmark]
inherits = "release"
lto = true
opt-level = "s"

[profile.test]
opt-level = 3

[dependencies]
wasmtime = "3.0.0"
wasmtime-wasi = "3.0.0"
wasi-common = "3.0.0"
deterministic-wasi-ctx = "0.1.8"
anyhow = "1.0"
clap = { version = "3.1.6", features = ["derive"] }
serde_json = "1.0"
colored = "2.0"
serde = "1.0"
serde_derive = "1.0"
