[package]
name = "function-runner"
version = "3.0.0"
edition = "2021"

[profile.test]
opt-level = 3

[dependencies]
wasmtime = "0.37"
wasmtime-wasi = "0.37"
wasi-common = "0.37"
deterministic-wasi-ctx = "0.1.3"
anyhow = "1.0"
clap = { version = "3.1.6", features = ["derive"] }
serde_json = "1.0.72"
colored = "2.0.0"
serde = "1.0.137"
serde_derive = "1.0.137"
