name: Publish

on:
  release:
    types:
      - published
  workflow_dispatch:
    inputs:
      tag_name:
        description: "Tag name"
        required: true
        type: string

jobs:
  build:
    uses: ./.github/workflows/build.yml
    with:
      tag_name: ${{ inputs.tag_name || github.event.release.tag_name }}
      should_upload_artifacts: true

  publish:
    name: Publish
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          path: artifacts
          merge-multiple: true

      - name: Upload assets to release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          # Upload all files from the build job
          for file in artifacts/*; do
            gh release upload ${{ inputs.tag_name || github.event.release.tag_name }} $file --repo ${{ github.repository }}
          done
